h1{
    text-align: center;
}

.h2Quiz{
 color:#FF4500; 
 font-weight: bolder;
 margin-left: 10% 

}

h3{
    font-size: 25px;
    background-color:#FFFF99;
    margin-left:10%;
    width:75%; 
    padding:1%
    
}
h4{
    font-size: 20px;
}